<template name="mainLayout">
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tinysort/2.3.6/tinysort.min.js"></script>
  </head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86103065-1', 'auto');
  ga('send', 'pageview');

</script>
  <div class="container">
    <div class="row site-wrapper">
      <div class="col-sm-12 col-md-12 text-right site-sidebar">
        <h1 class="site-title"><a href="/">listlyst</a></h1>
        <nav>
          {{#if Template.subscriptionsReady}}
          <p class="hug">
            <a href="/documentation">documentation</a> | <a href="/demo">demo</a>

            <br>
            from: <strong>{{earliestPatch}}</strong> to <strong>{{latestPatch}}</strong>
            <br>
            updated: {{lastUpdated}}
          </p>
          {{#if currentUser}}
          <p>Howdy, {{currentUser.username}}</p>
          {{> userLogout}}
          {{else}}
          <p>
            <a href="/">Sign Up/Log In</a>
          </p>
          {{/if}}
          {{/if}}
        </nav>
      </div>
      <div class="col-sm-12 col-md-12 site-content">
        {{#if Template.subscriptionsReady}}
        {{> mainContent}}
        {{/if}}
      </div>
    </div>
    <footer class="site-footer">
      <div class="row">
        <div class="col-sm-12 text-right">
          <p><small>
            <a href="http://duelyst.com">Duelyst</a> content and materials are trademarks and copyrights of Counterplay Games, Inc.
            <br>
            <a href="/">listlyst</a> was created by and is maintained by <a href="http://objectsforheads.com" target="_blank">objectsforheads</a> because meme puns are quality content
          </small></p>
        </div>
      </div>
    </footer>
  </div>
</template>

<template name="mainContent">
  {{> Template.dynamic template=main}}
</template>
